<h1>Your shortcuts</h1>
<% if @shortcuts.present? && @shortcuts.count > 0 %>
    <table class="table">
      <thead>
      <tr>
        <th>Short URL</th>
        <th>Full URL</th>
        <th>Created at</th>
        <th>Hits</th>
      </tr>
      </thead>
      <tbody>
      <% @shortcuts.each do |shortcut| %>
          <tr>
            <td><%= link_to shortcut.short_url, shortcut.short_url, target: '_blank' %></td>
            <td><%= link_to shortcut.full_url, shortcut.full_url, target: '_blank' %></td>
            <td><%= shortcut.created_at.strftime('%Y-%m-%d %H:%M:%S') if shortcut.created_at.present? %></td>
            <td><%= shortcut.hits %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @shortcuts %>
<% else %>
    <p>No shortcuts at this moment :(</p>
<% end %>